<div id="accordion">
	<h3>
		<button type="button" class="btn btn-large btn-danger span5 offset3">Show/Hide your name</button>
	</h3>
	<div class="name-reveal span12" id="no-border">
		<h1><%= @user.receiver.full_name %></h1>
	</div>
</div>


<%=	javascript "collapse.js" %>