<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	</head>
	<body>
		<h1>Hey there!</h1>

		<p> <%= @admin.email %> has invited you to join their "Crouching Santa" party! </p>

		<p>To get started, just click this link here: <%= @signup_url %> to sign up. </p>
		<p> Once you've signed up, you'll have to wait for the creator to go ahead and launch the party before you can pick your name from the hat. We'll send you an email once your party is launched. </p>

		<p>Thanks for joining and have a great day!</p>
	</body>
</html>