<h1>Welcome</h1>

<p>if you are here to view your secret santa, please sign in here</p>
<%= link_to "Log in", login_path %>

<p>Note that registrations are by invitation, so if you would like to create a party and invite others, please use go to the admin page.</p>

