<div class="row-fluid">
	<h1>Welcome</h1>
	<h3 class="muted">You're just 4 simple steps away from starting your Party...</h3>

	<%= render :partial => 'admin/shared/guide', :locals => {:box1_class => "full-admin-dark-green", :box2_class => "full-admin-muted", :box3_class => "full-admin-muted", :box4_class => "full-admin-muted"} %>

	<div class="span12">
		<div class="hero-unit poster full-admin-green">
			<% if @parties.empty? %>
				<p>You haven't created any parties yet.</p>
			<% else %>
				<h1 class="offset4">Your Parties</h1>
				<hr>
				<% @parties.each do |party| %>
					<div>
						<%= link_to party.name, admin_party_path(party), :class => "main-link" %>
					</div>
				<% end %>
			<% end %>
			<a href="<%= new_admin_party_path %>" class="btn btn-inverse btn-large"><i class="icon-plus-sign icon-in-button"></i> create new</a>
		</div>
	</div>
</div>