<div class="hero-unit">
	<h1>Your parties</h1>
	<p> Here are the parties that you're running</p>
	<% @parties.each do |party| %>
		<div>
			<%= link_to party.name, admin_party_path(party) %>
		</div>
	<% end %>


	<%=	link_to "create a new party", new_admin_party_path, :class => "btn btn-inverse btn-large" %>
</div>