<div class="span8 offset2">
	<div class="hero-unit full-admin-green">
		<p><strong>Your party has been launched and can no longer be amended. The following people are participating</strong></p>
		<ul class="poster unstyled">
			<% @party.users.sort{|u1,u2| u1.full_name <=> u2.full_name}.each do |user| %>
				<li><p><%= user.full_name %><p></li>
			<% end %>
		</ul>
	</div>
</div>
