	<div class="row-fluid">
		<div class="span3">
			<div class="hero-unit fixed-admin poster <%= box1_class %>">
				<h3>
					1. Create a Party
				</h3>
			</div>
		</div>
		<div class="span3">
			<div class="hero-unit fixed-admin poster <%= box2_class %>">
				<h3>
					2. Invite People
				</h3>
			</div>
		</div>
		<div class="span3">
			<div class="hero-unit fixed-admin poster <%= box3_class %>">
				<h3>
					3. Set Exclusions
				</h3>
			</div>
		</div>
		<div class="span3">
			<div class="hero-unit fixed-admin poster <%= box4_class %>">
				<h3>
					4. Start Party!
				</h3>
			</div>
		</div>
	</div>